body{
    display: grid;
    place-content: center;
    height: 100vh;
}
input{
    font-size: 40px;
    width: 160px;
    height: 60px;
    background-color: #51a8f4;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    transition: ease .1s linear;
}
input:active{
    background-color: aliceblue;
    color: #51a8f4;
    border: 4px solid ;
    cursor: pointer;
}